<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap"
      rel="stylesheet"
    />

    <title>P.B.S.S | Play!</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js"></script>
  </head>

  <body>
    <main id="gameMain">
      <h1 id="gameTitle">Paddle Ball Super Smashem</h1>
      <h2 id="whoAmI"></h2>
      <nav>
        <ul>
          <li class="navItem">
            <a href="main.html">
              <img
                class="navImg"
                src="https://cdn.glitch.com/59705fef-3742-460a-8630-e7e6a2c5b042%2Fhome.png?v=1602795175448"
                alt="profile picture"
              />
            </a>
          </li>

          <li class="navItem">
            <a href="profile.html">
              <img
                class="navImg"
                src="https://cdn.glitch.com/59705fef-3742-460a-8630-e7e6a2c5b042%2Fprofile.png?v=1602795175287"
                alt="profile picture"
              />
            </a>
          </li>

          <li class="navItem">
            <a href="login.html">
              <img
                class="navImg"
                src="https://cdn.glitch.com/59705fef-3742-460a-8630-e7e6a2c5b042%2Flogout.png?v=1602795174155"
                alt="exit sign"
              />
            </a>
          </li>
        </ul>
      </nav>

      <div id="gameBox">
        <h1 id="p1" class="gameScoring">P1: <span id="score1">0</span></h1>

        <canvas id="canvas"></canvas>

        <h1 id="p2" class="gameScoring">P2: <span id="score2">0</span></h1>
      </div>
    </main>

    <script>
      //Global Game Variables and Objects
      let renderer = null;
      let scene = null;
      let camera = null;
      let canvas = null;

      let paddleSpeed = 0.05;

      let score1 = 0;
      let score2 = 0;
      let gameScore = 5;

      let ballSpeedx = 7;
      let ballSpeedy = 3;

      let ball = null;
      let field = null;
      let paddleOne = null;
      const courtLength = 1000;
      const courtWidth = 2000;

      let ballMaterial;

      draw();

      function draw() {
        //RENDERER
        canvas = document.getElementById("canvas");
        renderer = new THREE.WebGLRenderer({ canvas: canvas });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth * 0.7, window.innerHeight * 0.7);

        //CAMERA
        camera = new THREE.PerspectiveCamera(
          70,
          window.innerWidth / window.innerHeight,
          0.1,
          1000
        );

        //SCENE
        scene = new THREE.Scene();

        //LIGHTS
        var light = new THREE.AmbientLight(0xffffff, 0.5);
        scene.add(light);

        var light1 = new THREE.PointLight(0xffffff, 0.5);
        scene.add(light1);

        drawGame();

        //RENDER LOOP
        requestAnimationFrame(render);

        function render() {
          renderer.render(scene, camera);
          requestAnimationFrame(render);

          document.addEventListener("keydown", paddleOneMovement, false);
          //document.addEventListener("keydown", paddleTwoMovement, false);
          ballMovement();
          collisionManagement();
          AIPaddle();
          //console.log(ball.position.y)
          //console.log(paddleOne.position.y + 100)
        }
      }

      //Draw game objects and add them to the scene
      function drawGame() {
        //Draw Ball
        let ballGeometry = new THREE.SphereGeometry(30, 100, 100);
        ballMaterial = new THREE.MeshLambertMaterial({ color: 0xf0d467 });

        //Draw Paddle
        let paddleGeometry = new THREE.BoxGeometry(50, 200, 50);
        let paddleOneMaterial = new THREE.MeshLambertMaterial({
          color: 0x6773f0
        });
        let paddleTwoMaterial = new THREE.MeshLambertMaterial({
          color: 0x68d98a
        });

        //Draw red part of the table
        let fieldGeometry = new THREE.PlaneGeometry(
          courtWidth * 0.95,
          courtLength,
          10,
          10
        );
        let fieldMaterial = new THREE.MeshLambertMaterial({ color: 0xff4045 });

        //Draw the grey outer layer
        let tableGeometry = new THREE.BoxGeometry(
          courtWidth * 1.03,
          courtLength * 1.15,
          100
        );
        let tableMaterial = new THREE.MeshLambertMaterial({ color: 0x2b2b2b });

        paddleOne = new THREE.Mesh(paddleGeometry, paddleOneMaterial);
        paddleTwo = new THREE.Mesh(paddleGeometry, paddleTwoMaterial);
        ball = new THREE.Mesh(ballGeometry, ballMaterial);
        field = new THREE.Mesh(fieldGeometry, fieldMaterial);
        table = new THREE.Mesh(tableGeometry, tableMaterial);

        //Set the starting position for each game object when a new game begins
        ball.position.set(0, 0, -950);
        paddleOne.position.set(-courtWidth / 2 + 50, 0, -950);
        paddleTwo.position.set(courtWidth / 2 - 50, 0, -950);
        field.position.set(0, 0, -995);
        table.position.z = -1050;

        //Add the game objects to the scene
        scene.add(ball);
        scene.add(paddleOne);
        scene.add(paddleTwo);
        scene.add(field);
        scene.add(table);
      }

      //Keyboard inputs for paddle 1 based on key codes
      function paddleOneMovement(event) {
        let keyCode = event.which;

        if (keyCode === 87) {
          if (paddleOne.position.y <= courtLength / 2.7) {
            paddleOne.position.y += 1.3 * (2000 * paddleSpeed);
          }
        } else if (keyCode === 83) {
          if (paddleOne.position.y >= -courtLength / 2.7) {
            paddleOne.position.y -= 1.3 * (2000 * paddleSpeed);
          }
        } else if (keyCode === 32) {
          //Added play instructions in this function
          window.alert(
            "Hello, Welcome to 3D pong. Player 1 use w and s to move your paddle. Player 2 use up and down arrow keys to move. Use the left and right arrow keys to change the speed of the ball. Enjoy! (Game still has a lot of work needed"
          );
        } else if (keyCode === 39) {
          //Use arrow keys to change the speed/direction of the ball
          ballSpeedx += 0.5;
          ballSpeedy += 0.5;
        } else if (keyCode === 37) {
          ballSpeedx -= 0.5;
          ballSpeedy -= 0.5;
        }
      }

      //Keyboard inputs for paddle 2 based on key codes
      function paddleTwoMovement(event) {
        let keyCode = event.which;

        if (keyCode === 38) {
          if (paddleTwo.position.y <= courtLength / 2.7) {
            paddleTwo.position.y += 200 * ySpeed;
          }
        } else if (keyCode === 40) {
          if (paddleTwo.position.y >= -courtLength / 2.7) {
            paddleTwo.position.y -= 200 * ySpeed;
          }
        }
      }

      function AIPaddle() {
        if (ball.position.y > paddleTwo.position.y) {
          paddleTwo.position.y += 100 * paddleSpeed;
        } else if (ball.position.y < paddleTwo.position.y) {
          paddleTwo.position.y -= 100 * paddleSpeed;
        }
      }

      /*Ball physics that determines how the ball collides with the edges
		  and what happens when the ball flies off either end
		  */
      function ballMovement() {
        //Start the ball moving.
        ball.position.y += ballSpeedy;
        ball.position.x -= ballSpeedx;

        //Collision logic with the edges of the court
        if (ball.position.y >= courtLength / 2) {
          ballSpeedy = -ballSpeedy;
        }

        if (ball.position.y <= -courtLength / 2) {
          ballSpeedy = -ballSpeedy;
        }

        //Logic for when the ball flies off either end and also update the score
        if (ball.position.x <= paddleOne.position.x - 250) {
          ball.position.x = 0;
          ball.position.x = 0;

          ballSpeedy = 7;
          ballSpeedx = 3;

          score1++;

          document.getElementById("score2").innerHTML = score1;

          //we win the game
          if (score1 >= gameScore) {
            ballSpeedy = 0;
            ballSpeedx = 0;

            fetch("/win", {
              method: "POST",
              //send the username
              body: JSON.stringify({ uname: uname }),
              headers: {
                "Content-Type": "application/json"
              }
              //get the response from the server (wins and losses) in json object
            }).then(response => response.json());

            window.alert("You Win! :) Reload the page to restart the game.");
          }

          if (ball.position.x >= paddleTwo.position.x + 250) {
            ball.position.x = 0;
            ball.position.x = 0;

            ballSpeedy = 7;
            ballSpeedx = 3;

            score2++;

            document.getElementById("score1").innerHTML = score2;

            //we lose
            if (score2 >= gameScore) {
              ballSpeedy = 0;
              ballSpeedx = 0;

              fetch("/loss", {
                method: "POST",
                //send the username
                body: JSON.stringify({ uname: uname }),
                headers: {
                  "Content-Type": "application/json"
                }
                //get the response from the server (wins and losses) in json object
              }).then(response => response.json());

              window.alert("You Lost! ): Reload the page to restart the game.");
            }
          }
        }
      }

      //Collision logic between the ball and the paddles
      function collisionManagement() {
        //starting collision for ball logic

        /*
        
        if(ball.x += ball.) {
          
        }
        */

        //end

        if (
          ball.position.x >= paddleTwo.position.x - 25 &&
          ball.position.x <= paddleTwo.position.x
        ) {
          if (
            ball.position.y <= paddleTwo.position.y + 100 &&
            ball.position.y >= paddleTwo.position.y - 100
          ) {
            ballSpeedy = ballSpeedy;
            ballSpeedx = -1 * ballSpeedx;
          }
        }

        if (
          ball.position.x <= paddleOne.position.x + 25 &&
          ball.position.x >= paddleOne.position.x
        ) {
          ballSpeedy = ballSpeedy + 1.2;
          ballSpeedx = ballSpeedx + 0.7;

          if (
            ball.position.y <= paddleOne.position.y + 110 &&
            ball.position.y >= paddleOne.position.y - 110
          ) {
            ballSpeedy = ballSpeedy;
            ballSpeedx = -1 * ballSpeedx;
          }
        }
      }

      //if(paddleOne.position.y + 40 && ball.position.y >= (paddleOne.position.y - 40)

      /*
			if(ball.position.x <= paddleOne.position.x + 30 && ball.position.y <= (paddleOne.position.y + 40) && ball.position.y >= (paddleOne.position.y - 40)) 
			{
			  ballSpeedy = ballSpeedy
			  ballSpeedx = -1*ballSpeedx
        
        ballSpeedy = ballSpeedy + 0.3
        ballSpeedx = ballSpeedy + 0.3
			}
      */
    </script>
  </body>
</html>
