<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap" rel="stylesheet">

		<title>P.B.S.S | Login or Create an Account</title>

	</head>

	<body>
		
		<main>
			<h1 id="gameTitle">Paddle Ball Super Smashem</h1>
			
			<div id="loginFlex" class="flex-container">
				<article class="mpa" id="loginForm">
					<h2 class="formTitle">Login</h2>
					<form action="index.html">
						<label for="username">Username</label><br/>
						<input type="text" id="username" name="username" placeholder="supersmasher420"><br/><br/>
					 
						<label for="pass">Password</label><br/>
						<input type="password" id="pass" name="pass" placeholder="secretpassword"><br/><br/>
					 
						<input type="submit" value="Login">
					</form>
				</article>
				
				<article class="mpa" id="createForm">
					<h2 class="formTitle">Create an account</h2>
					<form action="index.html">
						<label for="username">Username</label><br/>
						<input type="text" id="username" name="username" placeholder="number1smashboi"><br/><br/>
					 
						<label for="pass">Password</label><br/>
						<input type="password" id="pass" name="pass" placeholder="smashpass300"><br/><br/>
					 
						<input type="submit" value="Create Account">
					</form>
				</article>
			</div>
		</main>
	</body>
  
</html>